@import "common";
@import "submenu";
.contact {
    padding-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 39px;
        line-height: 100px;
        margin-top: 10px;
    }
    .detail {
        overflow: hidden;
        dt{
            border: 0;
            line-height: 2.2;
            font-weight: bold;
        }
        dl {
            float: left;
            width: 180px;
            margin: 0 35px;
        }
    }
}

#coordinate {
    height: 500px;
}
.BMapLib_sendToPhone{
    display: none;
}
