.add-product {
  margin-top: 50%;
  transform: translate(0, -50%);
}

.form-box {
  width: 780px;
  margin-left: 30px;
}

.el-upload-list--picture-card .el-upload-list__item:hover {
  .el-icon-close {
    display: block;
  }
}

.preview-upload {
  .el-upload {
    display: none;
  }
  .el-icon-close {
    display: none;
  }
}